<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.cricbuzz">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.CricBuzz"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".home.NewsLayout"
            android:exported="false" />
        <activity
            android:name=".match.view.PlayingXIAcitivity"
            android:exported="false" />
        <activity
            android:name=".profile.TermsAndConditions"
            android:exported="false" />
        <activity
            android:name=".profile.AboutUs"
            android:exported="false" />
        <activity
            android:name=".profile.PrivacyPolicy"
            android:exported="false" />
        <activity
            android:name=".players.PlayerInfo"
            android:exported="false" />
        <activity
            android:name=".series.SquadsActivity"
            android:exported="false" />
        <activity
            android:name=".match.MatchDetails"
            android:exported="false" />
        <activity
            android:name=".profile.ConnectWithUs"
            android:exported="false" />
        <activity
            android:name=".profile.EditProfile"
            android:exported="false" />
        <activity
            android:name=".home.SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true" />
        <activity android:name=".login.LoginActivity" />
    </application>

</manifest>